---
import { ViewTransitions } from 'astro:transitions';
import Reproductor from '../components/Reproductor.astro';
import Header from '../components/Header.astro';
import MainIndex from '../layouts/MainIndex.astro';
import Layout from '../layouts/Layout.astro';

import './../css/output.css'
---

<!-- <h1>Main page</h1>
<p>Página principal donde aparecen las canciones</p>
<a href="./song.html">Song</a>
<br> -->

<Layout>
    <Header/>
    <MainIndex/>
    <ViewTransitions/>
    <Reproductor/>
</Layout>