---
import Layout from "../layouts/Layout.astro";
import Header from '../components/HeaderIndex.astro';
import './../css/output.css'
import { ViewTransitions } from 'astro:transitions';
import { getUserActivo } from "../components/Cookies/Cookies.astro";
import { db, Usuario, eq } from "astro:db";

const cookies = Astro.request.headers.get('cookie')
const userActivo = await getUserActivo(cookies)
const infoUser = (await db.select().from(Usuario).where(eq(Usuario.id, userActivo)))[0]
console.log(infoUser);

---

<Layout>
    <Header/>
    <ViewTransitions/>
    <div class="md:flex h-96 max-w-7xl mx-auto">
        <div class="h-20 md:h-96 w-full md:w-1/3 p-2 md:p-8 md:max-w-80 md:min-w-56">
            <div class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4">
                <h3 class="font-bold text-xl">Menú</h3>
                <ul id="menu">
                    <li class="mt-2"><a class="hover:bg-[#DBAC63] hover:text-white p-1 rounded" id="linkGeneral" href="#">General</a></li>
                    <li class="mt-2"><a class="hover:bg-[#DBAC63] hover:text-white p-1 rounded" id="linkMusica" href="#">Tu música</a></li>
                    <li class="mt-2"><a class="hover:bg-[#DBAC63] hover:text-white p-1 rounded" id="linkSeguridad" href="#">Seguridad</a></li>
                    <li class="mt-2"><a class="hover:bg-[#DBAC63] hover:text-white p-1 rounded" id="linkCerrarSesion" href="api/cerrarSesion">Cerrar sesión</a></li> <!-- TODO: crear la api para cerrar sesión -->
                </ul>
            </div>
        </div>
        <div class="h-96 w-full p-2 md:p-8">
            <form action="">
                <div id="general" class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all">
                    <h3 class="font-bold text-xl mb-2">Datos perfil</h3>
                    <img src={infoUser["imagenPerfil"] ? infoUser["imagenPerfil"] : "/src/logos/usuarioSinLogo.png"} class={infoUser["imagenPerfil"] ? "w-20" : "bg-white w-20"}>
                    <p>Nombre de usuario</p>

                    <h3 class="font-bold text-xl mt-4">Datos personales</h3>
                    <p>Nombre</p>
                    <p>Apellidos</p>
                    <p>Email</p>
                </div>
                <div id="musica" class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all hidden">
                    <h3 class="font-bold text-xl mb-2">Música</h3>
                    <p>Administrar canciones</p>
                    <p>Administrar comentarios</p>
                </div>
                <div id="seguridad" class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all hidden">
                    <h3 class="font-bold text-xl mb-2">Seguridad</h3>
                    <p>Cambiar contraseña</p>
                    <p>Doble autenticación</p>
                    <p>Borrar cuenta</p>
                </div>
            </form>
        </div>
    </div>
</Layout>

<script>
document.getElementById("menu").addEventListener("click", (e) => {
    e.preventDefault()

    switch(e.target.id) {
        case "linkGeneral": 
            document.getElementById("general").classList.remove("hidden")
            document.getElementById("musica").classList.add("hidden")
            document.getElementById("seguridad").classList.add("hidden")
            break;
        case "linkMusica": 
            document.getElementById("general").classList.add("hidden")
            document.getElementById("musica").classList.remove("hidden")
            document.getElementById("seguridad").classList.add("hidden")
            break;
        case "linkSeguridad": 
            document.getElementById("general").classList.add("hidden")
            document.getElementById("musica").classList.add("hidden")
            document.getElementById("seguridad").classList.remove("hidden")
            break;
    }
})

</script>
