---

---

<form method="POST" action="api/upload" id="upload-form" enctype="multipart/form-data">
    <label for="file">Elige un archivo:</label>
    <input type="file" id="file" name="file">
    <button type="submit">Subir</button>
  </form>
  
  