---
import './../css/output.css'
import Reproductor from '../components/Reproductor.astro';
import { ViewTransitions } from 'astro:transitions';


---

<h1>Song page</h1>
<p>Pagina donde se representa la informacion de la cancion pinchada</p>
<a href="index.html">Home</a>
<br>
<Reproductor/>
<ViewTransitions/>