---
import './../css/output.css'
---

<div class="flex justify-center w-full sm:w-3/4 order-1 flex-wrap p-4 px-4 md:px-12">
    <!-- 3 Botones para filtrar por Canciones, Podcast o Todo -->
    <div class="flex justify-evenly w-full lg:w-3/4 items-center">
        <button class="bg-gray-200 hover:bg-gray-400 hover:text-white hover:font-bold w-1/3 sm:w-1/4 sm:max-w-28 mx-1 rounded-full h-fit py-2 px-3">Todos</button>
        <button class="bg-gray-200 hover:bg-gray-400 hover:text-white hover:font-bold w-1/3 sm:w-1/4 sm:max-w-28 mx-1 rounded-full h-fit py-2 px-3">Canciones</button>
        <button class="bg-gray-200 hover:bg-gray-400 hover:text-white hover:font-bold w-1/3 sm:w-1/4 sm:max-w-28 mx-1 rounded-full h-fit py-2 px-3">Podcasts</button>
    </div>
    
    <!-- Últimas canciones escuchadas, si no tiene, poder canciones o álbumes randoms -->
    <div class="grid grid-rows-3 grid-cols-2 md:grid-rows-2 md:grid-cols-3 w-full gap-4 mt-4 ">
        <div class="flex bg-gray-200 items-center rounded">
            <img class="rounded-tl rounded-bl w-12 h-12 lg:w-14 lg:h-14" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
            <p class="ml-3 text-sm lg:text-base font-bold mr-1">Nombre de la cancion</p>
        </div>
        <div class="flex bg-gray-200 items-center rounded">
            <img class="rounded-tl rounded-bl w-12 h-12 lg:w-14 lg:h-14" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
            <p class="ml-3 text-sm lg:text-base font-bold mr-1">Nombre de la cancion</p>
        </div>
        <div class="flex bg-gray-200 items-center rounded">
            <img class="rounded-tl rounded-bl w-12 h-12 lg:w-14 lg:h-14" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
            <p class="ml-3 text-sm lg:text-base font-bold mr-1">Nombre de la cancion</p>
        </div>
        <div class="flex bg-gray-200 items-center rounded">
            <img class="rounded-tl rounded-bl w-12 h-12 lg:w-14 lg:h-14" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
            <p class="ml-3 text-sm lg:text-base font-bold mr-1">Nombre de la cancion</p>
        </div>
        <div class="flex bg-gray-200 items-center rounded">
            <img class="rounded-tl rounded-bl w-12 h-12 lg:w-14 lg:h-14" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
            <p class="ml-3 text-sm lg:text-base font-bold mr-1">Nombre de la cancion</p>
        </div>
        <div class="flex bg-gray-200 items-center rounded">
            <img class="rounded-tl rounded-bl w-12 h-12 lg:w-14 lg:h-14" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
            <p class="ml-3 text-sm lg:text-base font-bold mr-1">Nombre de la cancion</p>
        </div>
    </div>


    <!-- Lo mismo que antes, pero en forma de cuadrado -->
    <div class="flex justify-between w-full mt-4 flex-wrap">
        <h3 class="w-full text-2xl mb-2 font-bold">Recomendaciones para ti</h3>
        <div class="w-full grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 lg:grid-rows-1">
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre del album</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre de la lista</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28 rounded-full" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre del artista</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre de la lista</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre del album</p>
            </div>
        </div>
    </div>

    <div class="flex justify-between w-full mt-2 flex-wrap">
        <h3 class="w-full text-2xl mb-2 font-bold">Recomendaciones para ti</h3>
        <div class="w-full grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 lg:grid-rows-1">
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre del album</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre de la lista</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28 rounded-full" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre del artista</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre de la lista</p>
            </div>
            <div class="w-full text-center flex justify-center flex-wrap">
                <img class="w-full max-w-28" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/happy_day-5fTsYgd3tQ1fi4U5mNkoBFr0DVVRYl.webp" alt="">
                <p class="w-full">Nombre del album</p>
            </div>
        </div>
    </div>
</div>