---
import './../css/output.css'
---

<div class="h-[12vh]">
    <div class="h-full p-2 bg-black flex justify-center">
        <picture class="h-full">
            <source srcset="/src/logos/logoConLetrasSinFondo.png 641w" media="(min-width: 640px)" />
            <img class="h-full" src="/src/logos/logoSinFondo.png" />
        </picture>
    </div>
</div>