---
import './../css/output.css'
---

<div class="h-[12vh]">
    <div class="h-full p-2 bg-black flex justify-center">
        <picture class="h-full">
            <source srcset="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/logos/logoConLetrasSinFondo-Fp5xPeztQ0ZyMsAQmRk66VfchrfBzR.png 641w" media="(min-width: 640px)" />
            <img class="h-full" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/logos/logoSinFondo-IL0en8B1ubqISn7QAGxVZE3jlASqSW.png" />
        </picture>
    </div>
</div>