---
import { Audios, db, eq, Normal, Playlist, sql, Usuario_MeGusta_Audio } from 'astro:db'
import './../css/output.css'
import { getUserActivo } from './Cookies/Cookies.astro'
import { Playlist_Audio } from 'astro:db'

const cookies = Astro.request.headers.get('cookie')
const userActivo = await getUserActivo(cookies)
const idNormal = (await db.select({idNormal: Normal.idNormal}).from(Normal).where(eq(Normal.idUsuario, userActivo)))[0].idNormal

const cancionesFavoritas = (await db.select({ 
    cantidadCanciones: sql<number>`cast(count(${Playlist_Audio.idAudio}) as int)` 
}).from(
    Usuario_MeGusta_Audio
).where(
    eq(Usuario_MeGusta_Audio.idUsuario, idNormal)
))

const playlists = await db.select({
    idPlaylist: Playlist.idPlaylist,
    nombre: Playlist.nombre,
    visibilidad: Playlist.visibilidad,
    usuarioID: Playlist.usuarioID,
    cantidadCanciones: sql<number>`cast(count(${Playlist_Audio.idAudio}) as int)`,
    portadaLista: Audios.rutaImagen
}).from(Playlist).where(
    eq(Playlist.usuarioID, idNormal)
).leftJoin(
    Playlist_Audio, eq(Playlist_Audio.idPlaylist, Playlist.idPlaylist)
).leftJoin( 
    Audios, eq(Playlist_Audio.idAudio, Audios.idAudio)
).groupBy(Playlist_Audio.idPlaylist)

console.log(cancionesFavoritas);

---

<div class="w-full sm:max-w-[300px] sm:mr-auto sm:w-3/6 order-2 sm:order-1 bg-gray-200 p-2">
    <h2 class="text-lg font-bold">Tus listas de reproducción</h2>
    <div class="mt-2">
        {
            <div class="min-h-12 flex items-center bg-gray-400 rounded-md mb-2">
                <img class="h-12 rounded-s-md" src="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/portada_canciones_favoritas-rEzUa42IpsQ8FJLVMoLYcIBgCpVNNU.png">
                <div class="flex flex-col h-full  ml-2">
                    <p class="text-base font-bold">Canciones favoritas</p>
                    <div class="flex">
                        <p id="cantidadAudiosFavoritos" class="text-sm">{cancionesFavoritas[0] ? cancionesFavoritas[0].cantidadCanciones : 0}</p>
                        <span class="text-sm">&nbsp;canciones</span>
                    </div>
                </div>
            </div>
        }
        {
            playlists.map((playlist) => {
                return <div class="h-12 flex bg-gray-400 rounded-md mb-2">
                    <img class="rounded-s-md" src={
                        playlist.cantidadCanciones > 0 ?
                        playlist.portadaLista :
                        "https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/portadas/ListaSinCanciones-5QyhWnrTQFUpPVtIomeinFAZZ0TkWo.jpg"
                    }>
                    <div class="flex flex-col h-full  ml-2">
                        <p class="text-base font-bold">{playlist.nombre}</p>
                        <p class="text-sm">{playlist.cantidadCanciones + " canciones"}</p>
                    </div>
                </div>
            })
        }
        
    </div>
</div>