---
import './../css/output.css'
---

<div class="w-screen h-[88vh] flex justify-center items-center p-8">
    <div class="w-2/4 rounded border border-black">
        <h2 class="text-center text-3xl my-3 font-bold">Iniciar sesión</h2>
        <form class="w-full flex justify-center items-center flex-wrap bg-gray-300 p-8 rounded-b">
            <div class="w-4/6 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="email">Correo electrónico</label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="email" name="email" type="email" placeholder="Introduce tu correo">
            </div>
            <div class="w-4/6 mt-4 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="password">Contraseña</label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="password" name="password" type="password" placeholder="Introduce tu contraseña">
            </div>
            <div class="w-full mt-8 flex justify-end flex-wrap">
                <button class="bg-orange-300 rounded p-2 font-bold">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>