---
import './../css/output.css'

const url = Astro.request.url.split("?")[1]

import ErrorLogin from '../components/Alerts/ErrorLogin.astro'
import AvisoNuevoUsuario from '../components/Alerts/AvisoNuevoUsuario.astro'

---

<div class="w-screen h-[88vh] flex justify-center items-center p-8">
    <div class="w-4/4 sm:w-3/4 md:w-7/12 lg:w-5/12 rounded border border-black">
        <h2 class="text-center text-3xl my-3 font-bold">Iniciar sesión</h2>
        <form id="formLogin" method="POST" class="w-full flex justify-center items-center flex-wrap bg-gray-300 p-8 rounded-b">
            <div class="w-full sm:w-10/12 mt-2 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="email">Correo electrónico <span class="text-red-600">*</span></label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="email" name="email" type="email" required placeholder="Introduce tu correo">
            </div>
            <div class="w-full sm:w-10/12 mt-2 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="password">Contraseña <span class="text-red-600">*</span></label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="password" name="password" type="password" required placeholder="Introduce tu contraseña">
            </div>
            <div class="w-full sm:w-10/12 mt-2">
                <input class="placeholder:text-gray-500 p-1 bg-gray-300 border-2 rounded border-black" id="sesionIniciada" name="sesionIniciada" type="checkbox">
                <label class="w-full text-lg" for="password">Mantener sesión iniciada<span class="text-red-600"></span></label>
            </div>
            <div class="w-1/2 mt-8">
                <a class="text-orange-600 rounded text-xs font-bold hover:text-orange-400" href="registro">¿No tienes cuenta? Registrate</a>
            </div>
            <div class="w-1/2 mt-8 flex justify-end">
                <button class="bg-orange-300 rounded p-2 font-bold hover:bg-orange-400">Iniciar sesión</button>
            </div>
        </form>
    </div>
    <ErrorLogin />
    {
        url && url.includes("nuevo") ? <AvisoNuevoUsuario /> : ""
    }
</div>

<script>
    document.getElementById("formLogin").addEventListener("submit", async (e) => {
        e.preventDefault()
        document.getElementById("avisoNuevoUsuario").classList.remove("flex")
        document.getElementById("avisoNuevoUsuario").classList.add("hidden")

        const inputEmail = document.getElementById("email")
        const inputPassword = document.getElementById("password")
        const inputSesionIniciada = document.getElementById("sesionIniciada")

        const body = new FormData()
        body.append('email', inputEmail.value)
        body.append('password', inputPassword.value)
        body.append('sesionIniciada', inputSesionIniciada.checked)

        await fetch('api/loginUser', {
            body,
            method: 'POST'
        }).then(
            res => {
                if (res.status == 400)
                    throw new Error(res.statusText)
                else
                    window.location.replace("/")
            }
        ).catch(
            error => {
                document.getElementById("errorLogin").classList.add("flex")
                document.getElementById("errorLogin").classList.remove("hidden")
                console.error('Hay problemas con el fetch', error)
            }
        );
    })
</script>