---

---

<ul transition:persist id="menu" class="hidden sm:block">
    <li class="mt-2"><p class="hover:bg-[#DBAC63] hover:text-white p-1 rounded cursor-pointer" id="linkGeneral">General</p></li>
    <li class="mt-2"><p class="hover:bg-[#DBAC63] hover:text-white p-1 rounded cursor-pointer" id="linkMusica">Tu música</p></li>
    <li class="mt-2"><p class="hover:bg-[#DBAC63] hover:text-white p-1 rounded cursor-pointer" id="linkSeguridad">Seguridad</p></li>
    <li class="mt-2"><p class="hover:bg-[#DBAC63] hover:text-white p-1 rounded cursor-pointer" id="linkCerrarSesion">Cerrar sesión</a></li> <!-- TODO: crear la api para cerrar sesión -->
</ul>

<script is:inline>
    async function cambiarContenedor(e) {
        document.getElementById("menu").classList.add("hidden")

        switch(e.target.id) { //Ignorar error
            case "linkGeneral": 
                document.getElementById("general").classList.add("opacity-100")
                document.getElementById("general").classList.remove("opacity-0")
                document.getElementById("general").classList.add("z-10")
                document.getElementById("musica").classList.add("opacity-0")
                document.getElementById("musica").classList.remove("opacity-100")
                document.getElementById("musica").classList.remove("z-10")
                document.getElementById("seguridad").classList.add("opacity-0")
                document.getElementById("seguridad").classList.remove("opacity-100")
                document.getElementById("seguridad").classList.remove("z-10")
                break;
            case "linkMusica": 
                document.getElementById("general").classList.add("opacity-0")
                document.getElementById("general").classList.remove("opacity-100")
                document.getElementById("general").classList.remove("z-10")
                document.getElementById("musica").classList.add("opacity-100")
                document.getElementById("musica").classList.remove("opacity-0")
                document.getElementById("musica").classList.add("z-10")
                document.getElementById("seguridad").classList.add("opacity-0")
                document.getElementById("seguridad").classList.remove("opacity-100")
                document.getElementById("seguridad").classList.remove("z-10")
                break;
            case "linkSeguridad": 
                document.getElementById("general").classList.add("opacity-0")
                document.getElementById("general").classList.remove("opacity-100")
                document.getElementById("general").classList.remove("z-10")
                document.getElementById("musica").classList.add("opacity-0")
                document.getElementById("musica").classList.remove("opacity-100")
                document.getElementById("musica").classList.remove("z-10")
                document.getElementById("seguridad").classList.add("opacity-100")
                document.getElementById("seguridad").classList.remove("opacity-0")
                document.getElementById("seguridad").classList.add("z-10")
                break;
            case "linkCerrarSesion":
                await fetch('api/closeSession', {
                    method: 'POST'
                }).then(
                    _ => window.location.reload()
                );
        }
    }

    document.getElementById("menu").addEventListener("click", cambiarContenedor)
    
</script>