---
import './../css/output.css'
---

<div class="w-screen h-[88vh] flex justify-center items-center p-8">
    <div class="w-4/4 sm:w-10/12 md:w-8/12 lg:w-6/12 rounded border border-black">
        <h2 class="text-center text-3xl my-3 font-bold">Registrate</h2>
        <form method="POST" action="/api/registro" class="w-full flex justify-between items-center flex-wrap bg-gray-300 p-8 rounded-b">
            <div class="w-full flex justify-center flex-wrap">
                <label class="w-full text-lg" for="email">Nombre de usuario <span class="text-red-600">*</span></label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="username" name="username" type="text" required placeholder="Introduce tu nombre de usuario">
            </div>
            <div class="w-full sm:w-5/12 mt-2 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="email">Nombre <span class="text-red-600">*</span></label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="name" name="name" type="text" required placeholder="Introduce tu nombre">
            </div>
            <div class="w-full sm:w-5/12 mt-2 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="email">Apellidos</label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="surname" name="surname" type="text" placeholder="Introduce tus apellidos">
            </div>
            <div class="w-full sm:w-5/12 mt-2 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="email">Correo electrónico <span class="text-red-600">*</span></label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="email" name="email" type="text" required placeholder="Introduce tu correo">
            </div>
            <div class="w-full sm:w-5/12 mt-2 flex justify-center flex-wrap">
                <label class="w-full text-lg" for="password">Contraseña <span class="text-red-600">*</span></label>
                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" id="password" name="password" type="password" required placeholder="Introduce tu contraseña">
            </div>
            <div class="w-1/2 mt-8">
                <a class="text-orange-600 rounded p-2 text-xs font-bold hover:text-orange-400" href="login">¿Tienes cuenta? Inicia sesión</a>
            </div>
            <div class="w-1/2 mt-8 flex justify-end flex-wrap">
                <button class="bg-orange-300 rounded p-2 font-bold hover:bg-orange-400">Registrate</button>
            </div>
        </form>
    </div>
</div>