---
interface Props {
    infoUser: object
}

const { infoUser } = Astro.props

---

<div id="general" class="w-full h-full flex bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all absolute z-10">
    <div class="w-1/2">
        <h3 class="font-bold text-xl mb-2">Datos perfil</h3>
        <img src={infoUser["imagenPerfil"]} class="w-28">
    </div>

    <div class="w-1/2">
        <h3 class="font-bold text-xl mb-4">Datos personales</h3>
        <form method="POST" action="api/updateUser" class="flex flex-wrap flex-row-reverse justify-between">
            <label class="w-full font-semibold">Username</label>
            <input class="w-full mb-2 rounded-md p-1" type="text"  name="username" id="username" placeholder="Nombre de usuario" value={infoUser["username"]} required>
            <label class="w-[49%] font-semibold">Apellidos</label><label class="w-[49%] font-semibold">Nombre</label>
            <input class="w-[49%] mb-2 rounded-md p-1" type="text" name="apellidos" id="apellidos" placeholder="Apellidos" value={infoUser["apellidos"]}>
            <input class="w-[49%] mb-2 rounded-md p-1" type="text" name="nombre" id="nombre" placeholder="Nombre" value={infoUser["nombre"]}  required>
            <label class="w-full font-semibold">Email</label>
            <input class="w-full mb-2 rounded-md p-1" type="email" name="email" id="email" placeholder="Email" value={infoUser["email"]}  required>
            <input class="bg-[#DBAC63] p-1 px-2 rounded-md text-white font-semibold cursor-pointer mt-2" type="submit" value="Actualizar">
        </form>
    </div>
</div>