---
interface Props {
    infoUser: object
}

const { infoUser } = Astro.props

---

<div id="musica" class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all opacity-0 absolute">
    <h3 class="font-bold text-xl mb-2">Música</h3>
    <p>Administrar canciones</p>
    <p>Administrar comentarios</p>
</div>