---
import { db, Usuario, Artista, eq } from 'astro:db'

interface Props {
    infoUser: Object
}

const { infoUser } = Astro.props

const esArtista = await db.select().from(Artista).where(eq(Artista.idUsuario, infoUser.id))

---

{
    esArtista.length > 0 ? 
    <div id="musica" class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all opacity-0 absolute">
        <h3 class="font-bold text-xl mb-2">Música</h3>
        <div class="flex flex-col">
            <a class="hover:bg-[#DBAC63] hover:text-white rounded-md w-1/4 mb-2 p-1 px-2" href="insertarAlbum">Añadir álbum</p>
            <a class="hover:bg-[#DBAC63] hover:text-white rounded-md w-1/4 mb-2 p-1 px-2" href="artistaAlbumes">Administrar álbumes</p>
            <a class="hover:bg-[#DBAC63] hover:text-white rounded-md w-1/4 mb-2 p-1 px-2" href="insertarAudio">Añadir canciones</p>
            <a class="hover:bg-[#DBAC63] hover:text-white rounded-md w-1/4 mb-2 p-1 px-2" href="artistaCanciones">Administrar canciones</p>
        </div>
    </div> : 
    <div id="musica" class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4 transition-all opacity-0 absolute">
        <h3 class="font-bold text-xl mb-2">Música</h3>
        <p>¿Quieres convertirte en artista?</p>
        <ul class="list-disc">
            <li class="list-item ml-8">Podrá subir canciones y crear álbumes para que el resto de usuarios puedan escuchar su música y convertirse en la estrella que quieres ser.</li>
            <li class="list-item ml-8">Desde aquí podrá administrar sus álbumes y canciones en todo momento.</li>
        </ul>
        <p class="font-bold">No esperes más! Haz clic en el botón inferior y listo.</p>
        <form method="POST" action="api/addRoleArtist">
            <button class="p-1 px-2 bg-[#DBAC63] mt-2 rounded-md text-white font-bold">QUIERO SER ARTISTA</button>
        </form>
    </div>
}
