---
import { db, Album, eq, Artista, and } from "astro:db"
import { getUserActivo } from "../Cookies/Cookies.astro"

const { infoAudio } = Astro.props

const cookies = Astro.request.headers.get('cookie')
const userActivo = await getUserActivo(cookies)

const idArtista = (await db.select({idArtista: Artista.idArtista}).from(Artista).where(eq(Artista.idUsuario, userActivo)))[0].idArtista
const albumes = await db.select({nombreAlbum: Album.nombreAlbum, idAlbum: Album.idAlbum}).from(Album).where(and(eq(Album.idArtista, idArtista), eq(Album.esSencillo, "false")))
const albumesSencillos = await db.select({nombreAlbum: Album.nombreAlbum, idAlbum: Album.idAlbum}).from(Album).where(and(eq(Album.idArtista, idArtista), eq(Album.esSencillo, "true")))
---

<div id="ventanaModalEditar" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div> <!-- Backdrop -->
  
    <div class="fixed inset-0 z-10 w-full overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 w-full sm:w-full sm:max-w-lg">
            <form method="POST">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="flex flex-wrap justify-evenly w-full mt-3 text-left sm:mt-0">
                            <h3 class="w-full text-base sm:text-lg font-semibold leading-6 text-gray-900" id="modal-title">Editar audio</h3>
                            <div class="w-full mt-2">
                                <label class="w-full" for="nuevoNombreAudio">Título del audio <span class="text-red-600">*</span></label>
                                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" name="nuevoNombreAudio" id="nuevoNombreAudio" required>
                            </div>
                            <div class="w-full flex flex-wrap">
                                <label class="w-full" for="nuevoAutoresSecundarios">Autores secundarios</label>
                                <input class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" name="nuevoAutoresSecundarios" id="nuevoAutoresSecundarios">
                            </div>
                            <div class="w-[30%] flex flex-wrap justify-center mt-2 items-center">
                                <label class="w-full mr-2 font-bold" for="nuevoGenero">Género <span class="text-red-600">*</span></label>
                                <select name="nuevoGenero" id="nuevoGenero" class="w-full p-1 bg-gray-300 border-2 rounded border-black" required>
                                    <option value="" disabled selected>Géneros</option>
                                    <option value="Pop">Pop</option>
                                    <option value="Regueton">Reguetón</option>
                                    <option value="Trap">Trap</option>
                                    <option value="Electronica">Electrónica</option>
                                    <option value="K-pop">K-pop</option>
                                    <option value="Country">Country</option>
                                    <option value="Rap">Rap</option>
                                    <option value="Hip-hop">Hip-hop</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                            <div class="w-[30%] flex flex-wrap justify-center mt-2 items-center">
                                <label class="w-full mr-2 font-bold" for="nuevoTipo">Tipo <span class="text-red-600">*</span></label>
                                <select name="nuevoTipo" id="nuevoTipo" class="w-full p-1 bg-gray-300 border-2 rounded border-black" required>
                                    <option value="" disabled selected>Tipos</option>
                                    <option value="cancion">Canción</option>
                                    <option value="podcast">Podcast</option>
                                </select>
                            </div>
                            <div class="w-full flex flex-wrap">
                                <label class="w-full font-bold" for="nuevaDescripcion">Descripción</label>
                                <textarea class="placeholder:text-gray-500 w-full p-1 bg-gray-300 border-2 rounded border-black" name="nuevaDescripcion" id="nuevaDescripcion"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <input id="botonGuardar" type="submit" class="cursor-pointer inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" data-idaudio="" value="Guardar">
                    <button id="botonCancelarGuardar" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancelar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<script is:inline>

    document.getElementById("botonCancelarGuardar").addEventListener("click", () => {
        document.getElementById("ventanaModalEditar").classList.add("hidden")
    })

    document.getElementById("botonGuardar").addEventListener("click", (e) => {
        e.preventDefault()
        console.log("Editar");
        editarAudio(e)
    })

    async function editarAudio(e) {
        const idAudio = e.target.dataset.idaudio
        const nuevoNombre = document.getElementById("nuevoNombreAudio").value
        const nuevoAutoresSecundarios = document.getElementById("nuevoAutoresSecundarios").value
        const nuevoGenero = document.getElementById("nuevoGenero").value
        const nuevoTipo = document.getElementById("nuevoTipo").value
        const nuevoDescripcion = document.getElementById("nuevaDescripcion").value
        console.log("Se editará el audio" + idAudio);

        const body = new FormData()
        body.append('idAudio', idAudio)
        body.append('nuevoNombre', nuevoNombre)
        body.append('nuevoAutoresSecundarios', nuevoAutoresSecundarios)
        body.append('nuevoGenero', nuevoGenero)
        body.append('nuevoTipo', nuevoTipo)
        body.append('nuevoDescripcion', nuevoDescripcion)

        await fetch('api/administrarArtista/updateAudio', {
            method: 'POST',
            body: body
        }).then(
            res => {
                if (res.status == 400)
                    throw new Error(res.statusText)
                else
                {
                    console.log("Editado");
                    const nombreAudio = document.getElementById(idAudio).querySelector("#nombreAudio")
                    nombreAudio.innerText = nuevoNombre
                }
            }
        ).catch(
            error => console.error(error)
        )
    }
</script>