<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Music</title>
        <link rel="icon" href="https://hdnqb6gk9llq7dvl.public.blob.vercel-storage.com/logos/logoSinFondo-IL0en8B1ubqISn7QAGxVZE3jlASqSW.png">
    </head>
    <body>
        <slot/>
    </body>
</html>