---
import './../css/output.css'
import ListasIndex from "../components/ListasIndex.astro";
import CancionesIndex from "../components/CancionesIndex.astro";

---

<div class="min-h-[80vh] flex flex-wrap justify-center basis-auto">
    <ListasIndex/>
    <CancionesIndex/>
</div>