---
import './../css/output.css'
import ListasIndex from "../components/ListasIndex.astro";
import CancionesIndex from "../components/CancionesIndex.astro";

---

<div class="min-h-[80vh] flex flex-wrap sm:flex-nowrap justify-between">
    <ListasIndex/>
    <CancionesIndex/>
</div>