---
import './../css/output.css'
import ListasIndex from "../components/ListasIndex.astro";
import CancionesIndex from "../components/CancionesIndex.astro";
---

<div class="flex">
    <ListasIndex/>
    <CancionesIndex/>
</div>