---
import { getUserActivo } from "../components/Cookies/Cookies.astro";
import { db, Usuario, eq } from "astro:db";

import PerfilGeneral from "../components/Usuario/PerfilGeneral.astro";
import PerfilSeguridad from "../components/Usuario/PerfilSeguridad.astro";
import PerfilMusica from "../components/Usuario/PerfilMusica.astro";
import MenuPerfil from "../components/MenuPerfil.astro";

const cookies = Astro.request.headers.get('cookie')
const userActivo = await getUserActivo(cookies)
const infoUser = (await db.select().from(Usuario).where(eq(Usuario.id, userActivo)))[0]
---

<div class="md:flex h-max max-w-7xl mx-auto">
    <div class="md:h-full w-full md:w-1/3 p-2 md:p-8 md:max-w-80 md:min-w-56"> <!-- TODO: Menú responsive -->
        <div class="w-full h-full bg-[#ffeed3] rounded shadow-[#DBAC63] shadow-lg p-4">
            <div class="flex justify-between items-center">
                <h3 class="font-bold text-xl">Menú</h3>
                <a id="openMenu" href="" class="md:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                    </svg>                  
                </a>
            </div>
            <MenuPerfil/>
        </div>
    </div>
    <div class="h-full w-full p-2 md:w-2/3 md:p-8">
        <div class="h-full relative">
            <PerfilGeneral infoUser={infoUser}/>
            <PerfilSeguridad infoUser={infoUser}/>
            <PerfilMusica infoUser={infoUser}/>
        </div>
    </div>
</div>

<script is:inline>
    document.getElementById("openMenu").addEventListener("click", (e) => {
        e.preventDefault()

        document.getElementById("menu").classList.toggle("hidden")
    })
</script>