---
import './../css/output.css'
import ListasIndex from "../components/ListasIndex.astro";
import CancionesIndex from "../components/CancionesIndex.astro";
---

<div class="flex flex-wrap justify-center"> <!-- max-w-screen-2xl -->
    <ListasIndex/>
    <CancionesIndex/>
</div>